# exclude .gitignore and similar from the generated tarball
.git*           export-ignore
# exclude docs folder
/docs           export-ignore
/docs/*         export-ignore
# exclude Github-Pages config
_config.yml
